<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <p>Show Count: {{ count }}</p>
    <button v-on:click="increment" >InC</button>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HelloWorld from "@/components/HelloWorld.vue"; // @ is an alias to /src

@Component({
  components: {
    HelloWorld
  },
  data: () => { 
    return {
      count: 0,
    }
  },
  props: {}, 
  computed: {}
})
export default class Dashboard extends Vue {
  increment(): void {
    this.$data.count += 1;
  }
}
</script>
